@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

// Typography
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

$font-size-base: 1.25rem;
$h2-font-size: 3.125rem;

$font-weight-base: 400;
$headings-font-weight: 800;
$nav-link-font-weight: 700;

$line-height-base: 1.5;
$headings-line-height: 1.2;

$headings-margin-bottom: 0;

// Colors
$primary: #ff302a;
$grey: #f2f2f2;
$text-color: #fff;
$nav-link-color: #fff;
$nav-link-hover-color: #fff;
$nav-link-color: #fff;

$theme-colors: (
  'primary': $primary,
);

@import 'bootstrap/scss/bootstrap';

.btn-primary {
  color: $text-color;
}

.btn-primary:hover {
  color: $text-color;
}
